<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CryBloga</title>
</head>

<body>
  {% comment %}
  <header>
    <nav>
      <a href="/">Главная</a>
      <a href="/posts/">Посты</a>
    </nav>
  </header>
  {% endcomment %}
  <header>
    <nav>
      <a href="{% url 'blog:home_page' %}">Главная</a>
      <a href="{% url 'blog:post_list' %}">Посты</a>
    </nav>
  </header>

  <h1>Главная страница</h1>
</body>
</html>