{% extends "blog/base.html" %}

{% block page_title %}
  CryBloga | Добавить пост
{% endblock page_title %}

{% block page_content %}
  <h1>Новый пост</h1>

  <form method="POST" novalidate>
    {% csrf_token %}

    <div>
      <label for="titleInput">Заголовок поста:</label>
      <input
        id="titleInput"
        name="title"
        type="text"
        value="{{ title }}"
        placeholder="Максимальная длина 200 символов"
        required
      >

      {% if errors.title %}
        <div style="color: red; font-size: 12px;">{{ errors.title }}</div>
      {% endif %}
    </div>

    <div>
      <label for="textInput">Текст поста:</label>
      <textarea id="textInput" name="text" rows="3">{{ text }}</textarea>

      {% if errors.text %}
        <div style="color: red; font-size: 12px;">{{ errors.text }}</div>
      {% endif %}
    </div>

    <button type="submit">Добавить</button>
  </form>