{% extends "blog/base.html" %}

{% block page_title %}
  CryBloga | Добавить пост
{% endblock page_title %}

{% block page_content %}
  <h1>Новый пост</h1>

  <form method="POST" novalidate>
    {% csrf_token %}

    {# Вариант 1 #}
    {% comment %} {{ form }} {% endcomment %}
    {% comment %} {{ form.as_div }} {% endcomment %}
    {% comment %} {{ form.as_p }} {% endcomment %}

    {# Вариант 2 #}
    {% for field in form %}
      <div>
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
      </div>
    {% endfor %}

    {% comment %}
    Вариант 3
    <div>
      {{ form.title.label_tag }}
      {{ form.title }}
      {{ form.title.errors }}
    </div>

    <div>
      {{ form.text.label_tag }}
      {{ form.text }}
      {{ form.text.errors }}
    </div>
    {% endcomment %}

    <button type="submit">Добавить</button>
  </form>
{% endblock page_content %}